.continentpage-wrapper {
    color: aliceblue;
}
.continentpage-head {
    width: 100%;
    height: 700px;
    filter: brightness(50%) blur(2px);
}
.continentpage-nav {
    position: absolute;
    top: 20%;
}
.continentpage-tittle {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
}
.continentpage-desc {
    width: 70%;
    margin: auto;
    line-height: 26px;
}
.continentpage-nav h4 {
    margin: 10px 0;
    text-decoration: underline;
}
.cp-eachcountry {
    display: inline-block;
    margin: 5px;
    padding: 5px 14px;
    border: 1px solid wheat;
    border-radius: 4px;
    color: wheat;
}
.continentpage-aff {
    padding: 40px;   
    width: 80%;
    margin: auto;
}
.cp-afftittle {
    font-size: 70px;
    font-weight: 700;
}
.affiliate-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cp-affbox {
    background-color: rgba(64, 54, 54, 0.586);
    margin: 10px;
    border-radius: 7px;
    padding: 15px 20px;
}
.cp-affbox h6 {
    margin-top: 5px;
}
@media (max-width:768px) {
    .continentpage-aff {
        width: 90%;
    }
}
@media (max-width:576px) {
    .continentpage-head {
        height: 500px;
    }
    .continentpage-nav {
        top: 15%;
    }
    .continentpage-tittle {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 6px;
    }
    .continentpage-desc {
        width: 90%;
        line-height: 15px;
        font-size: 11px;
    }
    .continentpage-nav h4 {
        font-size: 14px;

    }
    .continentpage-aff {
        width: 100%;
    }
    .cp-affbox {
        margin: 5px;
        padding: 9px 10px;
    }
    .cp-affbox h6 {
        font-size: 10px;
    }
    .cp-afftittle {
        font-size: 40px;
        margin-bottom: 40px;
    }
}