.navbar-wrapper {
    /* margin: 20px; */
    z-index: 10;
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-wrapper.hidden {
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.726);
  }
  
.navbar-wrapper.visible {
    transform: translateY(0);
}
.navbar-section {
    display: flex;
    justify-content: space-between;
}
.navbar-section img {
    margin: 10px;
}
.input-search {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    /* background-color: rgba(240, 248, 255, 0.283); */
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.429);
}
.social-section {
    margin-top: 10px;
}
.social-ig {
    margin-right: 10px;
    width: 20px;
    height: 16px;
}
.social-yt {
    width: 20px;
    height: 16px;
}
.input-searchone {
    display: none;
}
.navbar-below {
    text-align: center;
}
.navbar-below button {
    margin: 20px 15px;
    background: transparent;
    border: 0;
    cursor: pointer;
}
/* PLANNING SECTION BELOW */
.planning-section {
    background-color: rgba(0, 0, 0, 0.692);
}
.planning-section h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.wrapper-planning {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    margin: auto;
    width: 50%;
    flex-wrap: wrap;
}
.planning-icon {
    margin: 30px;
}
.planning-icon h6 {
    text-align: center;
    margin-top: 8px;
}
.planning-section p {
    text-align: center;
    font-size: 11px;
    color: rgb(103, 98, 98);
    margin-top: 70px;
}
.wrapper-destination h1{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.wrapper-destination {
    width: 90%;
    margin: auto;
}
.wrapper-continent {
    padding: 30px 0;
}
.wrapper-continent p {
    font-size: 12px;
    color: rgb(104, 102, 102);
    margin-top: 5px;
}
.country-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.country-box {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.country-box p {
    margin: 7px;
    font-size: 17px;
}
.country-box img {
    width: 30px;
}
.wrapper-destination .destination-footer {
    font-size: 12px;
    text-align: center;
    color: rgb(130, 127, 127);
    margin: 30px 0;
}
@media (max-width:992px) {
    .wrapper-planning {
        width: 60%;
    }
}
@media (max-width:768px) {
    .wrapper-planning {
        width: 90%;
    }
    .navbar-below {
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width:576px) {
    .navbar-section {
        line-height: 0px;
    }
    .navbar-section img {
        width: 17px;
        height: 17px;
    }
    .input-search {
        display: none;
    }
    .navbar-below button {
        margin: 13px 10px;
        font-size: 10px;
    }
    .input-searchone {
        display: block;
        border-radius: 20px;
        padding: 7px;
        width: 50%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.45);
    }
    .wrapper-planning {
        width: 95%;
    }
    .planning-icon h6 {
        font-size: 8px;
    }
    .wrapper-destination {
        width: 96%;
        margin: auto;
    }
}