
.wrapper-header {
    width: 40%;
    margin: auto;
    z-index: -15;
}
.header-cp {
    position: relative;
}
.header-cp h1 {
    font-size: 80px;
    /* z-index: 1; */
    margin-top: 40px;
    line-height: 19px;
    color: rgba(104, 100, 100, 0.653);
}
.header-cp img {
    /* position: absolute;
    top: 35%; */
    height: 400px;
    width: 450px;
    margin-top: -50px;
    /* z-index: 2; */
}
.header-cp .head-desc {
    position: absolute;
    bottom: 10%;
    width: 60%;
    right: 0;
    text-align: right;
}
.head-desc .link-video {
    color: rgb(192, 198, 178);
    padding: 7px;
    margin: 5px 5px 20px 0;
    border: 1px solid rgb(207, 207, 162);
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
}
.head-desc .link-blog {
    color: rgb(35, 36, 33);
    padding: 7px;
    font-weight: 700;
    font-size: 12px;
    background-color: yellowgreen;
    margin: 5px 5px 20px 0;
    border: 1px solid rgb(207, 207, 162);
    border-radius: 7px;
}
.head-desc p {
    font-size: 11px;
    color: rgba(202, 171, 171, 0.804);
    text-align: right;
    margin-top: 10px;
}
.main-header {
    padding: 20px 0;
    margin: 20px 0;
}
.continents-map {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.box-map .each-map {
    width: 70px;
}
.box-map p {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.container-discover {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.dc-right {
    margin-left: 40px;
    margin-top: 100px;
}
.dc-right .right-tittle {
    font-size: 60px;
    color: yellowgreen;
    letter-spacing: 5px;
}
.dc-right .right-tittle1 {
    font-size: 30px;
    letter-spacing: 15px;
    margin-bottom: 20px;
    line-height: 3px;
}
.dc-right p {
    font-size: 14px;
    color: rgb(59, 55, 55);
    margin-bottom: 20px;
}
.dc-right .dc-explore {
    font-weight: 700;
    padding: 7px;
    border: 2px solid yellowgreen;
    border-radius: 7px;
}
@media (max-width:992px) {
    .wrapper-header {
        width: 50%;
    }
    .container-discover {
        display: block;
        width: 90%;
        margin: auto;
    }
    .dc-left img {
        width: 100%;
        margin-top: -140px;
    }
    .dc-right {
        margin: -70px 0 0 0;
        text-align: center;
    }
    .dc-right p {
        width: 80%;
        margin: auto;
        padding: 30px 0;
    }
}
@media (max-width:768px) {
    .wrapper-header {
        width: 62%;
    }
    .main-header {
        width: 97%;
    }
    .continents-map {
        width: 97%;
    }
    .box-map {
        margin: 20px;
    }
    .box-map .each-map {
        width: 45px;
    }
}
@media (max-width:576px) {
    .wrapper-header {
        width: 100%;
    }
    .header-cp .head-desc {
        right: 5%;
        width: 75%;
    }
    .header-cp h1 {
        font-size: 50px;
        text-align: center;
    }
    .header-cp h5 {
        text-align: center;
        letter-spacing: 15px;
    }
    
    .box-map .each-map {
        width: 30px;
    }
    .box-map p {
        font-size: 9px;
    }
    .dc-right .right-tittle {
        font-size: 50px;
    }
    .dc-right .right-tittle1 {
        font-size: 25px;
    }
}