.blogs-header {
    width: 100%;
    height: 700px;
    filter: brightness(50%) blur(2px);
}
.blog-headerdesc {
    position: absolute;
    top: 20%;
    
}
.blog-headertittle {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}
.blog-headerdesc .blog-headerdescriptions {
    width: 80%;
    margin: auto;
    line-height: 26px;
    color: whitesmoke;
    text-align: center;
}
/* afiliate css */
.continentpage-aff {
    padding: 40px;   
    width: 80%;
    margin: auto;
    color: white;
}
.cp-afftittle {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.affiliate-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cp-affbox {
    background-color: rgba(64, 54, 54, 0.586);
    margin: 10px;
    border-radius: 7px;
    padding: 15px 20px;
    text-align: center;
    width: 200px;
}
.cp-affbox h6 {
    margin-top: 5px;
}
/* affiliate css */
.wrapper-blog {
    width: 80%;
    margin: auto;
}
.blog-section-title {
    font-size: 40px;
    color: wheat;
    text-align: center;
    margin-bottom: 20px;
}
.itinerary-day {
    color: whitesmoke;
    margin-bottom: 20px;
}
.itinerary-days {
    color: wheat;
    margin-bottom: 20px;
}
@media (max-width:768px) {
    .blog-headertittle {
        font-size: 50px;
    }
    .wrapper-blog {
        width: 90%;
    }
}
@media (max-width: 576px) {
    .blog-headertittle {
        font-size: 30px;
    }
    .continentpage-aff {
        width: 100%;
    }
    .cp-afftittle {
        font-size: 40px;
    }.cp-affbox {
        margin: 5px;
        padding: 9px 10px;
        width: 120px;
    }
}