.shop-wrapper {
    padding-top: 170px;
    width: 80%;
    margin: auto;
}
.shop-nav {
    display: flex;
    justify-content: center;
    background-color: rgb(122, 120, 116);
    border-radius: 10px;
    padding: 15px 10px;
}
.shop-nav h1 {
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
}
.shop-nav .nav-orderbtn {
    color: rgb(27, 27, 46);
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(107, 190, 47);
    padding: 5px 15px;
    border-radius: 10px;
}
.shop-section {
    color: whitesmoke;
    margin-top: 15px;
    display: flex;
}
.shop-branch {
    background-image: url('/website-service.jpg');
    height: 500px;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    filter: brightness(85%);
}
.shop-branch .shop-btn {
    background-color: wheat;
    padding: 5px 10px;
    border-radius: 7px;
    color: black;
    font-weight: 700;
}
.shop-branch h1 {
    margin-top: 380px;
    width: 80%;
    margin-bottom: 10px;
}
.shop-branch2 {
    margin-left: 10px;
}
.section-branch-top {
    background-image: url('/website-service1.jpg');
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-size: cover;
    filter: brightness(85%);
}
.section-branch-top h1 {
    margin-top: 180px;
    width: 80%;
}
.section-branch-down {
    background-image: url('/website-service-2.jpg');
    height: 240px;
    border-radius: 10px;
    padding: 10px;
    background-size: cover;
    filter: brightness(85%);

}
.section-branch-down h1 {
    margin-top: 140px;
    width: 80%;
}
.shop-desc {
    margin-top: 40px;
}
.shop-desc h1 {
    color: whitesmoke;
    text-align: center;
}
.shop-desc h6{
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}
@media (max-width:992px) {
    .shop-branch h1 {
        font-size: 17px;
    }
    .section-branch-top h1 {
        font-size: 17px;
    }
    .section-branch-down h1 {
        font-size: 17px;
    }
}
@media (max-width:768px) {
    .shop-wrapper {
        padding-top: 130px;
        width: 90%;
    }
    .shop-nav h1 {
        font-size: 16px;
        padding: 4px;
    }
    .shop-nav .nav-orderbtn {
        font-size: 16px;

    }
    .section-branch-down h1 {
        margin-top: 150px;
    }
}
@media (max-width:576px) {
    .shop-wrapper {
        width: 92%;
    }
    .shop-nav {
        display: block;
        text-align: center;
    }
    .shop-nav h1 {
        font-size: 14px;
        padding: 4px;
        margin-bottom: 7px;
    }
    .shop-nav .nav-orderbtn {
        font-size: 14px;

    }
    .shop-section {
        display: block;
    }
    .shop-branch2 {
        display: flex;
        margin-left: 0;
        margin-top: 10px;
    }
    .section-branch-down {
        height: 250px;
        margin-left: 10px;
    }
    .shop-branch h1 {
        font-size: 13px;
        margin-top: 400px;
    }
    .section-branch-top h1 {
        font-size: 13px;
    }
    .section-branch-down h1 {
        font-size: 13px;
        margin-top: 180px;
    }
    .shop-desc h1 {
        font-size: 20px;
    }
}