.citypage-wrapper {
    color: aliceblue;
}
.cityhead-image {
    width: 100%;
    height: 700px;
    filter: brightness(50%) blur(2px);
}
.cityhead-navbar {
    position: absolute;
    top: 20%;
    
}
.citypage-tittle {
    font-size: 40px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    width: 70%;
}
.citypage-desc {
    width: 70%;
    margin: auto;
    line-height: 26px;
    text-align: center;
}