.citypage-wrapper {
    color: aliceblue;
}
.cityhead-image {
    width: 100%;
    height: 700px;
    filter: brightness(50%) blur(2px);
}
.cityhead-navbar {
    position: absolute;
    top: 20%;
    
}
.citypage-tittle {
    font-size: 40px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    width: 70%;
}
.citypage-desc {
    width: 70%;
    margin: auto;
    line-height: 26px;
    text-align: center;
}
.continentpage-aff {
    padding: 40px;   
    width: 80%;
    margin: auto;
    color: white;
}
.cp-afftittle {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.affiliate-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cp-affbox {
    background-color: rgba(64, 54, 54, 0.586);
    margin: 10px;
    border-radius: 7px;
    padding: 15px 20px;
    text-align: center;
    /* width: 50px; */
}
.cp-affbox h6 {
    margin-top: 5px;
}

@media (max-width:768px) {
    .citypage-tittle {
        font-size: 20px;
    }
    .citypage-desc {
        font-size: 11px;
        line-height: 20px;
    }
    .cp-afftittle {
        font-size: 40px;
    }
}
@media (max-width:576px) {
    .cityhead-image {
        height: 500px;
    }
    .cityhead-navbar {
        top: 15%;
    }
    .citypage-tittle {
        padding-bottom: 10px;
    }
    .citypage-desc {
        width: 95%;
    }
    .continentpage-aff {
        width: 100%;
    }
    .cp-afftittle {
        font-size: 40px;
    }.cp-affbox {
        margin: 5px;
        padding: 9px 10px;
        width: 120px;
    }
}